In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import sklearn

In [6]:
df=pd.read_excel('C:/Users/abcpa/OneDrive/Escritorio/Maestria Ingenieria Y Analitica de datos/Modelado y simulacion/Datos/Desercion_Academica_recortados.xlsx')
df

,Carrera,Sexo,Origen,Localidad,Edad,Semestre,AsignaturasCursadas,AsignaturasAprobadas,CreditosCursados,CreditosAprobados,PromedioUltimoPeriodo,PromedioAcumulado,Duracion,Estado
0,ADMINISTRACION,Femenino,BOGOTA,SUBA,32,10,25.0,25,25,25.0,4.25,4.25,5,GRADUADO
1,ADMINISTRACION,NaN,BOGOTA,SUBA,30,4,29.0,24,99,82.0,3.00,3.00,6,ACTIVO
2,ADMINISTRACION,Femenino,BOGOTA,SUBA,35,1,NaN,6,18,NaN,3.50,3.50,0,DESERTOR
3,ADMINISTRACION,Femenino,NaN,SUBA,34,4,23.0,20,63,55.0,3.00,4.00,4,DESERTOR
4,ADMINISTRACION,Femenino,BOGOTA,KENNEDY,37,1,6.0,5,18,15.0,4.00,4.00,0,DESERTOR
5,ADMINISTRACION,Femenino,BOGOTA,KENNEDY,42,1,5.0,5,5,5.0,3.50,3.50,0,GRADUADO
6,NaN,Masculino,MEDELLIN,KENNEDY,33,6,NaN,26,113,69.0,2.00,3.00,8,DESERTOR
7,ADMINISTRACION,Masculino,MEDELLIN,KENNEDY,29,9,31.0,31,87,87.0,4.00,NaN,4,GRADUADO
8,ADMINISTRACION,Femenino,NaN,USAQUEN,23,3,9.0,6,30,NaN,3.00,4.00,1,ACTIVO
9,ADMINISTRACION,Masculino,MEDELLIN,USAQUEN,21,1,5.0,5,17,17.0,4.00,4.00,0,DESERTOR
10,NaN,Femenino,CALI,USAQUEN,23,3,11.0,9,35,28.0,4.00,4.00,2,ACTIVO
11,ADMINISTRACION,Femenino,CALI,USAQUEN,67,3,19.0,16,64,NaN,3.00,3.00,3,ACTIVO
12,NaN,Femenino,CALI,CHAPINERO,36,8,45.0,43,139,133.0,4.00,4.00,12,DESERTOR

In [ ]:
df.info